body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mensaje {
    margin-top: 20px;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.info {
    background-color: #e2f3fb;
    color: #0c5460;
    border: 1px solid #bee5eb;
}


form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}